/* Google Font importieren */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

/* Basis-Stile */
body {
  margin: 0;
  background: linear-gradient(to bottom, #B2C9F4, #CAD1DE);
  font-family: 'Josefin Sans', sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
}

/* Typografie */
h1 {
  font-weight: 700; /* Bold */
  font-size: 2.5rem;
  margin-top: 2rem;
}


h2, h3 {
  font-weight: 600; /* Semi-Bold */
  margin: 1.5rem 0 1rem 0;
}

p {
  font-weight: 300; /* Light */
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 1.5rem auto;
  line-height: 1.6;
}

/* Untertitel */
#skiSubtitle {
  font-weight: 400; 
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  color: #444;
}

/* Container für Bild */
.dude-image-container {
  text-align: center;    /* Bild mittig */
}

/* Bild selbst */
.dude-image {
  max-width: 80%;        /* nicht breiter als 80% der Seite */
  height: auto;          /* Proportionen beibehalten */
}

/* Dropdown Container */
.dropdown-container {
  text-align: center;
  margin-bottom: 1rem;
}

/* Checkbox Container */
.checkbox-container {
  text-align: center;
  margin-bottom: 1rem;
}

/* Chart Container */
.chart-container {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.wegweiser {
  width: 100%;
  margin-top: 80px;
}

.wegweiser a {
 display: flex;
 justify-content: center;
}

.wegweiser img {
  max-width: 180px;
  height: auto;
  display: block;
}